{% extends 'base.html.twig' %}

{% block title %}Create New Reservation{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-12">
            <div class="card shadow-lg" style="background-color: #f7f9fb;">
                <div class="card-header" style="background-color: #a3c9e2; color: #fff;">
                    <h3 class="card-title mb-0">Create New Reservation</h3>
                </div>
                <div class="card-body">
                    <div class="mb-4">
                        <h4 class="mb-3">Please fill in the details below to create a new reservation:</h4>
                        {{ include('reservation/_form.html.twig') }}
                    </div>
                    <div class="d-flex justify-content-between">
                        <a href="{{ path('app_reservation_index') }}" class="btn" style="background-color: #ffcc80; color: #fff;">
                            <i class="fas fa-arrow-left"></i> Back to List
                        </a>
                        <button type="submit" class="btn" style="background-color: #ffab73; color: #fff;">
                            <i class="fas fa-save"></i> Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
