<h1>titre de ma premiere page symfont</h1>
<p>
    ceci est un paraghraphe de textes qui illustre le fonctionnement d'une vue symfony 
    et Twig. Pour le moment il, ne s'agit que d'une simple page html
</p>
{{name}}